/* external css: flickity.css */


body {font-family: 'Poppins', sans-serif;}

.carousel {
  background: #EEE;
}

.carousel-cell {
    height: 200px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    content: normal;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    counter-increment: gallery-cell;
    width: 40%;
}

/* cell number */
.carousel-cell:before {
    text-align: center;
    line-height: 100px;
    font-size: 80px;
    color: white;
    display: block;
}


.partenaires{
    text-align: center;
}